<div class="footarea">

    {% if site.github_username %}
    <p class="tx_c">
      {% include icon-github.html username=site.github_username %}
    </p>
    {% endif %}

    {% if site.twitter_username %}
    <p class="tx_c">
      {% include icon-twitter.html username=site.twitter_username %}
    </p>
    {% endif %}

    <p class="tx_c"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    <p class="tx_c"><a href="https://www.futurefriendly.cn">Future Friendly</a> & <a href="{{ site.baseurl }}/">{{ site.title }}</a></p>

</div>