---
layout: default
---

<div class="detailarea">
    <div class="inner">
        <h2>{{ page.title }}</h2>
        <div class="info c_t9">
        	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y年%-m月%-d日" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        </div>

        <div class="shareBox">
        	<div class="bdsharebuttonbox">
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_more" data-cmd="more"></a>
			</div>
        </div>

        <div class="content" itemprop="articleBody">
        	{{ content }}
        </div>

        <div class="shareBox">
        	<div class="bdsharebuttonbox">
				<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
				<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
				<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
				<a href="#" class="bds_more" data-cmd="more"></a>
			</div>
        </div>

        <div id="vcomments"></div>
	    <script>
	        new Valine({
	            el: '#vcomments',
	            appId: '6wMW8yS6hBfaOt27TSYRzmiX-gzGzoHsz',
	            appKey: 'CwLBeI3pFkm5bqGclBue7YRL',
	            placeholder: '您可以在此评论',
	            enableQQ: true,
	            requiredFields: ['nick','mail'],
	            visitor: true
	        })
	    </script>

    </div>
</div>

<script>

//baidu share

window._bd_share_config = {
	"common": {
		"bdSnsKey": {},
		"bdText": "",
		"bdMini": "2",
		"bdMiniList": false,
		"bdPic": "",
		"bdStyle": "0",
		"bdSize": "24"
	},
	"share": {},
	"image": {
		"viewList": ["weixin","tsina","qzone","sqq","douban"],
		"viewText": "分享到：", "viewSize": "24"
	},
	"selectShare": {
		"bdContainerClass": null,
		"bdSelectMiniList": ["weixin","tsina","qzone","sqq","douban"]
	}
};
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://www.muyeedu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>